<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Signup</title>
</head>

<body>
    <form action="/signup" method="POST">
        <label for="name">Nama</label>
        <input type="text" name="name" id="name" placeholder="Name">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Emaik">
        <label for="passwod">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">Signup</button>
    </form>
</body>

</html>
